a{
    color: black;
    text-decoration: none;

}
.navbar{
    background-color: rgb(12, 68, 68);
    display: flex;
    justify-content: space-evenly ;
}
li{
    list-style-type: none;
   
    background-color: rgb(201, 193, 208);
}
#outer{
    height: 500px;
    width: 500px;
    background-color: #00ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#inner{
    height: 100px;
    width: 100px;
    background-color: cadetblue;
     
}